body{
    background-color: #DEDBDB;

}


/* Current Page : Category */

#category{
    background-color: #DEDBDB;
    margin-left: -40px;
}


/* Header */
.header{
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: space-between;
    display: flex;
}

.logo{
    width: 120px;
    height: 100px;
}


.header_thumbnail{
    width: 50px;
    height: 50px;
    display: grid;
    background-color: white;
}
.header_logo{
    background-color: white;
}

/* Container */

.container{
    display: flex;
    flex-direction: row;
}


/* Menu */

.menu{
    background-color: #FFFFFF;
    margin: 2%;
    text-align: center;
    text-decoration: none;
}

.menu > ul {
    list-style-type: none;  
}

.menu_item{
    
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 12px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    

    text-decoration: none;
  color: black;
}

.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Content */

.thumbnail{
    width: 150px;
    margin: 5%;
}

/* Footer */

.footer{
    text-align: center;
}

 /* Subtitle */

.subtitle{
    font-family: "Inter";
    color: #C55454;
}


/* Buttons */

.buttons > button{

   
    background: linear-gradient(#ff0000, #e3e4ef);
   
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 130px;
    border-radius: 12px;
}

.buttons > button > a {
    color: black;
    text-decoration: none;
}