body{
    background-color: #DEDBDB;

}

/* Header */
.header{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.logo{
    width: 100px;
    height: 100px;
}

.header_logo{

    display: flex;

}

.header_thumbnail{
    width: 10px;
    height: 10px;
}

/* Container */

.container{
    display: flex;
    flex-direction: row;
}


/* Menu */

.menu{
    background-color: #FFFFFF;
    margin: 2%;
    text-align: center;
    text-decoration: none;
}

.menu > ul {
    list-style-type: none;  
}

.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Content */

.thumbnail{
    width: 150px;
    margin: 5%;
}